﻿@model IEnumerable<CarStore.Presentation.Models.CarViewModel>

@{
    ViewBag.Title = "Cars";
}

<h4>The following cars are in the stock:</h4>
<table class="table table-responsive table-hover table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Engine</th>
            <th>Max Speed</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(c => car.Name)
                </td>
                <td>
                    @Html.DisplayFor(c => car.Engine) L
                </td>
                <td>
                    @Html.DisplayFor(c => car.MaxSpeed) km/h
                </td>
                <th>
                    @Html.ActionLink("Details", "Details", "Cars", new { id = car.Id }, new { @class = "btn btn-default btn-sm" })
                </th>
            </tr>
        }
    </tbody>
</table>