﻿@model CarStore.Presentation.Models.LoginViewModel

@if (User != null && !User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "navbar-form navbar-right" }))
    {
        <div class="form-group">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })

        </div>
        <button type="submit" class="btn btn-default">Log in</button>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, <u>@User.Identity.Name</u> <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
            </ul>
        </li>
    </ul>
}


